
bbsuche/*
bimuxxi/*
chess/*
cookassistant/*
cryptoplugin/cryptoplugin.vcxproj.user
cryptoplugin/Debug/*
cryptoplugin/Release/*
cryptoplugin/x64/*
dcsearch/*
Debug/*
downloadplugin/Debug/*
downloadplugin/Release/*
downloadplugin/x64/*
*.vcproj
fetchmail/*
fileservplugin/Debug/*
fileservplugin/Release/*
fileservplugin/x64/*
fsimageplugin/Debug/*
fsimageplugin/Release/*
fsimageplugin/x64/*
httpserver/Debug/*
httpserver/Release/*
httpserver/x64/*
ipch/*
ircsearch/*
jswiki/*
libx64/*
libx86/*
ocamlinterpreter/*
passwordsafe/*
passwordsafe2/*
piped_process/Debug/*
piped_process/Release/*
piped_process/x64/*
pop3_server/*
pychart/Debug/*
pychart/Release/*
pychart/x64/*
Release/*
Release Server 2003/*
Release Service/*
Release WinXP/*
searchplugin/*
smtp_server/*
stats/*
sysmgr/*
urbackup/Debug/*
urbackup/Release/*
urbackup/x64/*
urmail/*
x64/*

CompiledServer.sdf
CompiledServer.opensdf
CompiledServer.suo
pw.txt
server_idents.txt
*.vcxproj.user
urbackup/backup_server.db-shm
urbackup/backup_server.db-wal
fileservplugin/vld.dll
fileservplugin/vld.lib
urbackup/data/*
urbackup/Release Server 2003/*
urbackup/Release WinXP/*
urbackup/server_ident.key
UrBackupUpdate.exe
UrBackupUpdate.sig
version.txt
vld.dll
vld.lib
urbackup/Release Server/*
urbackupserver_installer_win/*
UrBackupUpdate_untested.exe
Release Server/*
urbackup/clientlist_*.ub
version_new.txt
urbackup/sqlite3.exe
urbackup/doc/*
!urbackup/doc/admin_guide.tex
pychart/build/*
pychart/dist/*
pychart/build_/*
pychart/dist_/*
info.txt
urbackup/server_token.key
Release Server PreVista/*
urbackup/Release Server PreVista/*
Debug WinXP/*
urbackup/Debug WinXP/*
urlplugin/lib64/*
urlplugin/lib86/*
urlplugin/*.dll
libcurl.dll
libeay32.dll
ssleay32.dll
urlplugin/x64/*
zlib1.dll
urlplugin/Release/*
urbackup/shutdown_now
urlplugin/Debug/*
bdbplugin/Debug/*
bdbplugin/inc/*
bdbplugin/libx64/*
bdbplugin/libx86/*
bdbplugin/Release/*
bdbplugin/x64/*
libdb_sql52.dll
libdb_sql52d.dll
libdb52.dll
libdb52d.dll
urbackup/backup_server.bdb*
urbackup/backup_server_old_sqlite.db
urbackup/db_recover.exe
urbackup/db_stat.exe
urbackup/dbsql.exe
urbackup/backup_server_old_sqlite.db*
urbackup/backup_server_settings.db*
UrBackupBackend.opensdf
UrBackupBackend.sdf
UrBackupBackend.suo
urbackupclient/Debug/*
urbackupserver/Debug/*
urbackupclient/x64/*
urbackup/backup_server.db-mj7A77A7934
urbackupserver/x64/*