
bbsuche/*
bimuxxi/*
chess/*
cookassistant/*
cryptoplugin/cryptoplugin.vcxproj.user
cryptoplugin/Debug/*
cryptoplugin/Release/*
cryptoplugin/x64/*
dcsearch/*
Debug/*
*.vcproj
fetchmail/*
fileservplugin/Debug/*
fileservplugin/Release/*
fileservplugin/x64/*
fsimageplugin/Debug/*
fsimageplugin/Release/*
fsimageplugin/x64/*
httpserver/Debug/*
httpserver/Release/*
httpserver/x64/*
ipch/*
ircsearch/*
jswiki/*
libx64/*
libx86/*
ocamlinterpreter/*
passwordsafe/*
passwordsafe2/*
piped_process/Debug/*
piped_process/Release/*
piped_process/x64/*
pop3_server/*
pychart/Debug/*
pychart/Release/*
pychart/x64/*
Release/*
Release Server 2003/*
Release Service/*
Release WinXP/*
searchplugin/*
smtp_server/*
stats/*
sysmgr/*
urbackup/Debug/*
urbackup/Release/*
urbackup/x64/*
urmail/*
x64/*

CompiledServer.sdf
CompiledServer.opensdf
CompiledServer.suo
pw.txt
server_idents.txt
*.vcxproj.user
urbackup/backup_server.db-shm
urbackup/backup_server.db-wal
fileservplugin/vld.dll
fileservplugin/vld.lib
urbackup/data/*
urbackup/Release Server 2003/*
urbackup/Release WinXP/*
urbackup/server_ident.key
UrBackupUpdate.exe
UrBackupUpdate.sig
version.txt
vld.dll
vld.lib
urbackup/Release Server/*
UrBackupUpdate_untested.exe
Release Server/*
urbackup/clientlist_*.ub
version_new.txt
urbackup/sqlite3.exe
urbackup/doc/*
!urbackup/doc/admin_guide.tex
pychart/build/*
pychart/dist/*
pychart/build_/*
pychart/dist_/*
info.txt
urbackup/server_token.key
Release Server PreVista/*
urbackup/Release Server PreVista/*
Debug WinXP/*
urbackup/Debug WinXP/*
urlplugin/lib64/*
urlplugin/lib86/*
urlplugin/*.dll
libcurl.dll
libeay32.dll
ssleay32.dll
urlplugin/x64/*
zlib1.dll
urlplugin/Release/*
urbackup/shutdown_now
urlplugin/Debug/*
bdbplugin/Debug/*
bdbplugin/inc/*
bdbplugin/libx64/*
bdbplugin/libx86/*
bdbplugin/Release/*
bdbplugin/x64/*
libdb_sql52.dll
libdb_sql52d.dll
libdb52.dll
libdb52d.dll
urbackup/backup_server.bdb*
urbackup/backup_server_old_sqlite.db
urbackup/db_recover.exe
urbackup/db_stat.exe
urbackup/dbsql.exe
urbackup/backup_server_old_sqlite.db*
urbackup/backup_server_settings.db*
UrBackupBackend.opensdf
UrBackupBackend.sdf
UrBackupBackend.suo
urbackupclient/Debug/*
urbackupserver/Debug/*
urbackupclient/x64/*
urbackup/backup_server.db-mj7A77A7934
urbackupserver/x64/*
urbackup/backup_client.db
urbackup/backup_server.db*
debug.log
urbackupclient/Release Server 2003/*
urbackupclient/Release WinXP/*
urbackupclient/Release/*
*.orig
urbackup/boost_python-vc100-gd-1_44.dll*
urbackupserver/Release Server PreVista/*
urbackupserver/Release Server/*
new_server_idents.txt
webwatch/*
urbackupserver/doc/tmp/*
docs/tmp/*
urbackupserver/doc/*
snapshot_helper/Debug/*
snapshot_helper/x64/*
urbackup_snapshot_helper.exe
urbackupserver_installer_win/data/cryptoplugin.dll
urbackupserver_installer_win/data/curllib.dll
urbackupserver_installer_win/data/downloadplugin.dll
urbackupserver_installer_win/data/fsimageplugin.dll
urbackupserver_installer_win/data/httpserver.dll
urbackupserver_installer_win/data/libssl32.dll
urbackupserver_installer_win/data/pychart.dll
urbackupserver_installer_win/data/urbackupserver.dll
urbackupserver_installer_win/data/urbackupserver_prevista.dll
urbackupserver_installer_win/data/urlplugin.dll
urbackupserver_installer_win/data_common/pychart/pychart.py
urbackupserver_installer_win/data_common/urbackup/status.htm
urbackupserver_installer_win/data_common/urbackup/www/*
urbackupserver_installer_win/data_python/*
urbackupserver_installer_win/data_python_x64/*
urbackupserver_installer_win/data_x64/*
urbackupserver_installer_win/data_service_x64/urbackup_srv.exe
urbackupserver_installer_win/data_service/urbackup_srv.exe
urbackupserver_installer_win/tmp/python27.dll
urbackupserver_installer_win/UrBackup Server *.msi
urbackupserver_installer_win/UrBackup Server *.wixpdb
urbackupserver_installer_win/UrBackup Server *.exe
urbackupserver_installer_win/*.wixobj
urbackupserver_installer_win/vcredist/*
verification_result.txt
backupfolder
Server121117(1).vsp
Server121117.vsp
urbackup_snapshot_helper_test.exe
urbackupclient/sysvol_test/Debug/*
urbackupclient/sysvol_test/Release/*
urbackupclient/sysvol_test/x64/Release/*
snapshot_helper/Release/*
urbackupserver_installer_win/urbackup_files_data.wxs
urbackupserver_installer_win/urbackup_files_data_common.wxs
urbackupserver_installer_win/urbackup_files_data_python.wxs
SQLGen/Debug/*
SQLGen/ipch/*
SQLGen/SQLGen.opensdf
SQLGen/SQLGen.sdf
SQLGen/SQLGen.suo
urbackupserver_installer_win/data/urbackup.dll
urbackupserver_installer_win/data/urbackup_prevista.dll
*.sqlgenbackup
urbackup/backup_server_files_cache.lmdb*
*.sqlgenbackup
urbackup/backup_server_files_cache.lmdb*
urbackup/backup/*
urbackup/cache/*
SQLGenOld/*
urbackupclient/sysvol_test/x64/*
SQLGen/Release/*
SQLGenOld/Debug/*
SQLGenOld/ipch/sqlgen-6c3cb888/sqlgen-97ce3bd6.ipch
client/
urbackupclient/sysvol_test/x64/*
urbackup/sqlite3_.exe
urbackup/sqlite.exe
urbackup/sqlite3_analyzer.exe
urbackupserver/www/jquery.dataTables.js
urbackupserver/www/dust-full.js
urbackupserver/www/templates/node_modules/*
pw_change.txt
urbackup/backup_client.db-journal
session_idents.txt
urbackup/server_ident.priv
urbackup/server_ident.pub
urbackupserver/www/polib.pyc
urbackup/server_version_info.properties
access_keys.properties
tokens/*
