[Unit]
Description=UrBackup Client backend
After=syslog.target network.target

[Service]
ExecStart=/usr/local/sbin/urbackupclientbackend --config /etc/default/urbackupclientbackend --no-consoletime
User=root

[Install]
WantedBy=multi-user.target

