[Unit]
Description=UrBackup Client/Server Network Backup System
After=syslog.target network.target

[Service]
ExecStart=/usr/bin/urbackupsrv run --config /etc/default/urbackupsrv --no-consoletime
User=root
TasksMax=infinity

[Install]
WantedBy=multi-user.target

