[Unit]
Description=UrBackup Client Backend
After=syslog.target network.target

[Service]
ExecStart=/usr/sbin/urbackupclientbackend --config /etc/default/urbackupclientbackend --no-consoletime
User=root

[Install]
WantedBy=multi-user.target

