<br />
<table cellspacing="0" cellpadding="0" border="0" class="formtable">
<tr>
<td>#{tBackup storage path}:</td>
<td><input type="text" size="40" id="backupfolder" value="#{backupfolder}"/> </td>
</tr>
<tr>
<td>#{tDo not do image backups}:</td>
<td><input type="checkbox" id="no_images" value="true" #{no_images}/></td>
</tr>
<tr>
<td>#{tAutomatically shut down server}:</td>
<td><input type="checkbox" id="autoshutdown" value="true" #{autoshutdown}/></td>
</tr>
<tr>
<td>#{tAutoupdate clients}:</td>
<td><input type="checkbox" id="autoupdate_clients" value="true" #{autoupdate_clients}/></td>
</tr>
<tr>
<td>#{tMax number of simultaneous backups}:</td>
<td><input type="text" id="max_sim_backups" value="#{max_sim_backups}" /></td>
</tr>
<tr>
<td>#{tMax number of recently active clients}:</td>
<td><input type="text" id="max_active_clients" value="#{max_active_clients}" /></td>
</tr>
#{ONLY_WIN32_BEGIN}
<tr>
<td>#{tNondefault temporary file directory}:</td>
<td><input type="text" id="tmpdir" value="#{tmpdir}" /></td>
</tr>
#{ONLY_WIN32_END}
#{settings_inv}
</table>
<br />
<br />
<input type="button" value="#{tSave}" onClick="saveGeneralSettings()" />