<h1>#{tBackup status}</h1>

#{dir_error}

<table cellspacing="0" cellpadding="0">
<tr>			
	<th style="width: 150px" class="tabHeader">#{tComputer name}</th>
	<th style="width: 150px" class="tabHeader">#{tLast seen}</th>
	<th style="width: 200px" class="tabHeader">#{tLast file backup}</th>
	<th style="width: 200px" class="tabHeader">#{tLast image backup}</th>
	<th style="width: 150px" class="tabHeader">#{tFile backup status}</th>
	<th style="width: 200px" class="tabHeaderRight">#{tImage backup status}</th>
</tr>
#{rows}
</table>
<br><br>
#{dtl_c1}<a href="javascript: show_status1(true);">#{tShow details}</a>#{dtl_c2}