<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>org.urbackup.client.frontend</string>
    <key>ProgramArguments</key>
    <array>
    	<string>/Applications/UrBackup Client.app/Contents/MacOS/urbackup_client_gui</string>
    </array>
    <key>KeepAlive</key>
    <false/>
    <key>WorkingDirectory</key>
    <string>/usr/var</string>
</dict>
</plist>