<strong>UrBackup Server {version}</strong><br/>
<br/>
<strong>Author:</strong> Martin Raiber<br/>
<br/>
<strong>Translators:</strong><br/>
Martin Raiber, Ettore Atalan (German) <br/>
Luis Miguel Muñoz (Spanish) <br/>
Mehmet Binici (Turkish) <br/>
mehdincd, Charles Peltier (French) <br/>
Samuele, Paolo, Marco Longo (Italian) <br />
buzzertnl, Pimmetje, buzzertnl (Dutch) <br/>
Artur Corumba, Juan Pablo Kerber (Portuguese (Brazil)) <br/>
J. Almeida (Portuguese) <br/>
matsr (Norwegian) <br/>
janda (Slovak) <br />
Ales Hermann (Czech) <br />
Artem Alabin (Russian) <br/>
Ihor Maydanovich (Ukrainian) <br/>
osiengine group (Farsi) <br/>
Zhengyu Ren (Traditional and Simplified Chinese) <br/>
<br/>
A lot of work has gone into UrBackup.
If you like it and want to support the ongoing development please consider donating.
<br />
Via PayPal:
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="GFTJQ6MRQTBXA">
<input type="image" src="btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
</form>
<br />
Contribution of build server or testing infrastructure is welcome as well. The most appreciated contribution would be your time in form of help.
<br />
<br />
<strong>UrBackup is using following libraries/code</strong>:
<ul>
<li><a href="http://www.cryptopp.com/">The Crypto++ Library</a></li>
<li><a href="http://www.boost.org">Boost C++ Libraries</a></li>
<li><a href="https://sqlite.org/">The SQLite embedded database</a></li>
<li><a href="http://symas.com/mdb/">Symas Lightning Memory-Mapped Database</a></li>
<li><a href="http://curl.haxx.se/">cURL Library</a></li>
<li><a href="http://www.nongnu.org/fastcgi/">FastCGI C++ Library</a></li>
<li><a href="http://www.math.sci.hiroshima-u.ac.jp/~m-mat/MT/MT2002/emt19937ar.html">Mersenne Twister with improved initialization</a></li>
<li><a href="http://userpages.umbc.edu/~mabzug1/cs/md5/md5-cc/">MD5 implementation</a></li>
<li><a href="https://code.google.com/p/miniz/">MiniZ: ZIP archive reading/writing library</a></li>
<li><a href="https://jquery.com">jQuery JavaScript library</a></li>
<li><a href="https://akdubya.github.io/dustjs/">dust.js JavaScript templating library</a></li>
<li><a href="http://www.barelyfitz.com/projects/tabber/">JavaScript tabifier library</a></li>
<li><a href="http://pajhome.org.uk/crypt/md5/index.html">JavaScript MD5 library</a></li>
<li><a href="http://www.jqplot.com/">jqPlot: jQuery plotting plugin</a></li>
<li><a href="https://datatables.net/">DataTables: Table plug-in for jQuery</a></li>
</ul>
<br/>
<strong>UrBackup License:</strong><br/>
<div style="float:left"><a href="https://www.gnu.org/licenses/gpl-3.0.html"><img src="gplv3-127x51.png" alt="GPLv3"/></a></div>
<br/>UrBackup is licensed as <strong>GPLv3</strong>. The license text is available as license.txt in your installation or <a href="https://www.gnu.org/licenses/gpl-3.0.html">online</a>.