<div class="panel panel-default">
	<div class="panel-heading">
		<a href="javascript: show_backups1()">{tClients}</a> > <a href="javascript: tabMouseClickClients({clientid})">{clientname}</a> > {cpath|s}
	</div>
	<div class="panel-body">

		<table class="table table-hover">
			<thead>
				<tr>
					<th style="width: 25px" class="tabHeader">&nbsp;</th>
					<th style="width: 150px" class="tabHeader">{tFile}</th>
					<th style="width: 150px" class="tabHeaderRight">{tSize}</th>
				</tr>
			</thead>
			<tbody>
				{rows|s}
			</tbody>
		</table>

		{?download_zip}
		<a class="btn btn-default" href="javascript: downloadZIP({clientid},{backupid},'{path}')">{tDownload folder as ZIP}</a>
		{/download_zip}
	</div>
</div>