<div class="panel panel-default">
	<div class="panel-heading">
		{?show_client_breadcrumb}
		<a href="javascript: show_backups1()">{tClients}</a> >
		{/show_client_breadcrumb}
		<strong>{clientname}</strong>
	</div>
	<div class="panel-body">
		{?backups}
		<h2>{tFile backups}</h2>
		<table class="table table-hover">
			<tr>
				<th>&nbsp;</th>
				<th>{tBackup time}</th>
				<th>{tIncremental}</th>
				<th>{tSize}</th>
				<th>{tArchived}<a href="help.htm#archived" target="_blank">?</a></th>
				{?has_actions}<th>{tActions}</th>{/has_actions}
			</tr>
			{#backups}
				<tr onclick="tabMouseClickBackups({clientid}, {id})" style="cursor: pointer">
					<td>&nbsp;</td>
					<td>{backuptime}</td>
					<td>{incr}</td>
					<td>{size_bytes}</td>
					<td onclick="g.no_tab_mouse_click=true; return false;">{archived|s}</td>
					{?has_actions}
						<th onclick="g.no_tab_mouse_click=true; return false;">
							{^is_archived}
							{?can_delete}
								{?delete_pending}
									<a class="btn btn-sm btn-primary" href="#" onclick="stopDeleteBackup({clientid}, {id}); return false;">{tBackup is marked for deletion. Do not delete}</a>
									<a class="btn btn-xs btn-danger" href="#" onclick="deleteBackupNow({clientid}, {id}); return false;"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> {tDelete now}</a>
								{:else}
									<a class="btn btn-xs btn-danger" href="#" onclick="deleteBackup({clientid}, {id}); return false;"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> {tDelete}</a>
								{/delete_pending}
							{/can_delete}
							{/is_archived}
						</th>
					{/has_actions}
				</tr>
			{/backups}
		</table>
		{/backups}
		
		{?backup_images}
		<h2>{tImage backups}</h2>
		<table class="table table-hover">
			<tr>
				<th>&nbsp;</th>
				<th>{tBackup time}</th>
				<th>{tVolume}</th>
				<th>{tIncremental}</th>				
				<th>{tSize}</th>
				<th>{tArchived}<a href="help.htm#archived" target="_blank">?</a></th>
				{?has_actions}<th>{tActions}</th>{/has_actions}
			</tr>
			{#backup_images}
				<tr onclick="tabMouseClickBackups({clientid}, -{id})" style="cursor: pointer">
					<td>&nbsp;</td>
					<td>{backuptime}</td>
					<td>{letter}</td>
					<td>{incr}</td>
					<td>{size_bytes}</td>
					<td onclick="g.no_tab_mouse_click=true; return false;">{archived|s}</td>
					{?has_actions}
						<th onclick="g.no_tab_mouse_click=true; return false;">
							{^is_archived}
							{?can_delete}
								{?delete_pending}
									<a class="btn btn-sm btn-primary" href="#" onclick="stopDeleteBackup({clientid}, -{id}); return false;">{tBackup is marked for deletion. Do not delete}</a>
									<a class="btn btn-xs btn-danger" href="#" onclick="deleteBackupNow({clientid}, -{id}); return false;"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> {tDelete now}</a>
								{:else}
									<a class="btn btn-xs btn-danger" href="#" onclick="deleteBackup({clientid}, -{id}); return false;"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> {tDelete}</a>
								{/delete_pending}
							{/can_delete}
							{/is_archived}
						</th>
					{/has_actions}
				</tr>
			{/backup_images}
		</table>
		{/backup_images}
		
		{^backups}
			{^backup_images}
				<h2>{tNo backups}</h2>
				{tNo backups of this client yet}
			{/backup_images}
		{/backups}
	</div>
</div>
