<div class="panel panel-default">
	<div class="panel-heading">
		{?show_client_breadcrumb}
		<a href="javascript: show_backups1()">{tClients}</a> >
		{/show_client_breadcrumb}
		<a href="javascript: tabMouseClickClients({clientid})">{clientname}</a> > {cpath|s}
	</div>
	<div class="panel-body">
	
		{#image_backup_info}
		<div class="panel panel-default">
			<div class="panel-heading">
				{tImage backup information}
			</div>
			<div class="panel-body">
				<div class="row">
					<div style="float:left; margin-right: 40px; margin-left:10px"><strong>{tId}: </strong>{id}</div>
					<div style="float:left; margin-right: 40px"><strong>{tBackup time}: </strong>{backuptime}</div>
					<div style="float:left; margin-right: 40px"><strong>{tIncremental}: </strong>{incr}</div>
					<div style="float:left; margin-right: 40px"><strong>{tSize}: </strong>{size_bytes}</div>
					<div style="float:left; margin-right: 40px"><strong>{tVolume}: </strong>{letter}</div>
					<div style="float:left; margin-right: 40px"><strong>{tArchived}: </strong>{archived|s}</div>
					<div style="float:left; margin-right: 40px"><strong>{tVolume size}: </strong>{volume_size}</div>
					<div style="float:left; margin-right: 40px"><strong>{tPartition style}: </strong>{part_table}</div>
					<div style="float:left; margin-right: 40px"><strong>{tDisk number}: </strong>{disk_number}</div>
					<div style="float:left; margin-right: 40px"><strong>{tPartition number}: </strong>{partition_number}</div>
					<div style="float:left; margin-right: 40px"><strong>{tFile system type}: </strong>{fs_type}</div>
					<div style="float:left; margin-right: 40px"><strong>{tVolume name}: </strong>{volume_name}</div>
					<div style="float:left; margin-right: 40px"><strong>{tSerial number}: </strong>{serial_number}</div>
				</div>
			</div>
		</div>
		{/image_backup_info}

		{?can_mount}
		<br><br>
		<div class="text-center"><a class="btn btn-default" href="#" onClick="tabMouseClickFiles({clientid},{backupid},'{path}', true); return false">{tMount image}</a></div>
		{:else}
		<table class="table table-hover">
			<thead>
				<tr>
					<th style="width: 25px" class="tabHeader">&nbsp;</th>
					<th style="width: 100%" class="tabHeader">{tFile}</th>
					<th class="tabHeader" style="white-space: nowrap;">{tSize}</th>
					<th class="tabHeader" style="white-space: nowrap;">{tCreated}</th>
					<th class="tabHeader" style="white-space: nowrap;">{tLast modified}</th>
					<th class="tabHeader" style="white-space: nowrap;">{tLast accessed}</th>
					<th class="tabHeader">&nbsp;</th>
				</tr>
			</thead>
			<tbody>
			{#files}
				<tr>
					<td onclick="tabMouseClick{proc}({clientid},{backupid},'{path}')" style="cursor: pointer">&nbsp;</td>
					<td onclick="tabMouseClick{proc}({clientid},{backupid},'{path}')" style="cursor: pointer">{name|s}</td>
					<td onclick="tabMouseClick{proc}({clientid},{backupid},'{path}')" style="cursor: pointer;white-space: nowrap;">{size}</td>
					<td onclick="tabMouseClick{proc}({clientid},{backupid},'{path}')" style="cursor: pointer;white-space: nowrap;">{creat}</td>
					<td onclick="tabMouseClick{proc}({clientid},{backupid},'{path}')" style="cursor: pointer;white-space: nowrap;">{mod}</td>
					<td onclick="tabMouseClick{proc}({clientid},{backupid},'{path}')" style="cursor: pointer;white-space: nowrap;">{access}</td>
					<td style="white-space: nowrap;">
						{?list_items}<a class="btn btn-default" href="#" onClick="tabMouseClick{proc}Access({clientid},{backupid},'{path|j}'); return false">{tList}</a>{/list_items}
						{?can_restore}<a class="btn btn-default" href="#" onClick="restoreFiles({clientid}, {backupid}, '{folder_path|j}', {server_confirms_restore}, '{name|s|j}'); return false">{tRestore}</a>{/can_restore}</td>
					<td>
				</tr>
			{/files}
			</tbody>
		</table>
		{/can_mount}

		{?download_zip}
		<a class="btn btn-default" href="#" onClick="downloadZIP({clientid}, {backupid}, '{path|j}'); return false">{tDownload folder as ZIP}</a>
		{/download_zip}
		{?can_restore}
		<a class="btn btn-default" href="#" onClick="restoreFiles({clientid}, {backupid},'{path|j}', {server_confirms_restore}); return false">{tRestore folder to client}</a>
		{/can_restore}
	</div>
</div>