<div class="alert alert-warning">
	UrBackup is currently only partially tested on big endian systems. In particular image backups and restores have not been tested.
	<br />
	UrBackup has been put into testing mode. This means UrBackup will always log debug messages.
	<br />
	If you want to help make UrBackup available on big endian systems please report all problems to the <a href="http://forums.urbackup.org">forums</a> 
	 or to our <a href="http://urbackup.atlassian.net/secure/">issue tracker</a>. Thank you for your help!
</div>