<br />
<form action="#" onsubmit="doChangePW(); return false;">
<strong>#{tChange password}</strong>
<br />
<table cellspacing="0" cellpadding="0" border="0" class="formtable">
<tr>
<td>#{tOld password}:</td>
<td><input type="password" id="old_password" value="" size="40"/></td>
</tr>
<tr>
<td>#{tNew password}:</td>
<td><input type="password" id="password1" value="" size="40"/></td>
</tr>
<tr>
<td>#{tRepeat new password}:</td>
<td><input type="password" id="password2" value="" size="40"/></td>
</tr>
</table>
<br />
<br />
<input type="submit" value="#{tChange}" />
</form>