<tr>
	<td class="tabFLeft">{name}</td>
	<td class="tabFLeft">{action}</td>
	<td class="tabFLeft" style="text-align: center;">
		<div class="progress">
		  <div class="progress-bar" role="progressbar" aria-valuenow="{pcdone}" aria-valuemin="0" aria-valuemax="100" style="width: {pcdone}%; {?percent}min-width: 2em;{/percent}">
			{?percent}{pcdone}%{/percent}
		  </div>
		  {?indexing}{tIndexing...}{/indexing}
		</div>		
	<td class="tabFLeft">{queue}</td>
	<td class="tabFRight"><input type="button" value="Stop" class="btn btn-xs btn-danger" onclick="stopBackup({clientid}, {id})"/></td>
</tr>