<tr>
	<td class="tabFLeft">{name}</td>
	<td class="tabFLeft">{action}</td>
	<td class="tabFLeft">
		{?image}
			Volume: {details}
		{:else}
			{?client_update}
				To version: {details}
			{:else}
				{?file_restore}
					Path: {details|s}
				{:else}
					-
				{/file_restore}
			{/client_update}
		{/image}
	</td>
	<td class="tabFLeft" style="text-align: center;">
		<div class="progress">
		  <div class="progress-bar" role="progressbar" aria-valuenow="{pcdone}" aria-valuemin="0" aria-valuemax="100" style="width: {pcdone}%; {?percent}min-width: 2em;{/percent}">
			{?percent}{pcdone}%{/percent}
		  </div>
		  {?indexing}{tIndexing...}{/indexing}
		</div>
		{?f_total_bytes}
			<div style="min-width:15em">
				{f_done_bytes} / {f_total_bytes}
			</div>
		{/f_total_bytes}
	<td class="tabFLeft">{eta}</td>
	<td class="tabFLeft">{speed}</td>
	<td class="tabFLeft">{queue}</td>
	<td class="tabFRight">
		{?can_stop_backup}
		<input type="button" value="{tStop}" class="btn btn-xs btn-danger" onclick="stopBackup({clientid}, {id})"/>
		{/can_stop_backup}
		{?can_stop_backup}
			{?can_show_backup_log}
				&nbsp;
			{/can_show_backup_log}
		{/can_stop_backup}
		{?can_show_backup_log}
		<input type="button" value="{tShow log}" class="btn btn-xs btn-default" onclick="showBackupLiveLog({clientid}, '{name|j}', {logid})"/>
		{/can_show_backup_log}
	</td>
</tr>