<td>
	{archive_every}
</td>
<td>
	{archive_for}
</td>
<td>
	{archive_window}
<td>
	{archive_backup_type_str}
</td>
<td>
	{archive_letters_str}
</td>
{?show_archive_timeleft}
<td>
	{archive_timeleft}
</td>
{/show_archive_timeleft}
<td>
{?source_group}
<span class="glyphicon glyphicon-lock" aria-hidden="true" title="{tArchival setting from group}"></span>
{/source_group}
{?source_here}
<span class="glyphicon glyphicon-home" aria-hidden="true" title="{tArchival setting from here}"></span>
{/source_here}
</td>
<td>
	<input class="btn btn-sm btn-default" type="button" value="{tDelete}" onclick="deleteArchiveItem('{archive_uuid}')""/
	 {?source_group}disabled{/source_group}>
</td>
