<br />
<div class="panel panel-primary">
	<div class="panel-body">
		<form class="form-horizontal" action="#" onsubmit="createUser2(); return false;">
			<div class="form-group">
				<label class="col-sm-3 control-label" for="username">{tUsername}:</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" id="username" value=""/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label" for="password1">{tPassword}:</label>
				<div class="col-sm-6">
					<input type="password" class="form-control" id="password1" value="" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label" for="password2">{tRepeat password}:</label>
				<div class="col-sm-6">
					<input type="password" class="form-control" id="password2" value=""/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">{tRights for}:</label>
				<div class="col-sm-6">
					{rights|s}
				</div>
			</div>
			<input type="button" value="{tAbort}" onclick="userSettings()"> <input type="submit" value="{tCreate}"/>
		</form>
	</div>
</div>