<br />
<table cellspacing="0" cellpadding="0" border="0" class="formtable">
<tr>
<td>#{tInternet server name/IP}:</td>
<td><input type="text" size="40" id="internet_server" value="#{internet_server}"/> </td>
</tr>
<tr>
<td>#{tInternet server port}:</td>
<td><input type="text" size="40" id="internet_server_port" value="#{internet_server_port}"/> </td>
</tr>
<tr>
<td>#{tDo image backups over internet}:</td>
<td><input type="checkbox" id="internet_image_backups" value="false" #{internet_image_backups}/></td>
</tr>
<tr>
<td>#{tDo full file backups over internet}:</td>
<td><input type="checkbox" id="internet_full_file_backups" value="false" #{internet_full_file_backups}/></td>
</tr>
</table>
<br />
<br />
<input type="button" value="#{tSave}" onClick="saveInternetSettings()" />
<br />
