<br />
<form action="#" onsubmit="createUser2(); return false;">
<table cellspacing="0" cellpadding="0" border="0" class="formtable">
<tr>
<td>#{tUsername}:</td>
<td><input type="text" size="40" id="username" value=""/> </td>
</tr>
<tr>
<td>#{tPassword}:</td>
<td><input type="password" id="password1" value="" size="40"/></td>
</tr>
<tr>
<td>#{tRepeat password}:</td>
<td><input type="password" id="password2" value="" size="40"/></td>
</tr>
<tr>
<td>#{tRights for}:</td>
<td>#{rights}</td>
</tr>
</table>
<br />
<br />
<input type="button" value="#{tAbort}" onclick="userSettings()"> <input type="submit" value="#{tCreate}"/>
</form>