<div class="tabbertab" title="#{tFile backups}">
<table cellspacing="0" cellpadding="0" border="0" class="formtable">
<tr>
<td>#{tInterval for incremental file backups}:</td>
<td><input type="text" id="update_freq_incr" value="#{update_freq_incr}"/> #{thours}</td>
</tr>
<tr>
<td>#{tInterval for full file backups}:</td>
<td><input type="text" id="update_freq_full" value="#{update_freq_full}"/> #{tdays}</td>
</tr>
<tr>
<td>#{tMaximal number of incremental file backups}:</td>
<td><input type="text" id="max_file_incr" value="#{max_file_incr}"/></td>
</tr>
<tr>
<td>#{tMinimal number of incremental file backups}:</td>
<td><input type="text" id="min_file_incr" value="#{min_file_incr}"/></td>
</tr>
<td>#{tMaximal number of full file backups}:</td>
<td><input type="text" id="max_file_full" value="#{max_file_full}"/></td>
</tr>
<tr>
<td>#{tMinimal number of full file backups}:</td>
<td><input type="text" id="min_file_full" value="#{min_file_full}"/></td>
</tr>
<tr>
<td>#{tExcluded files (with wildcards)}:</td>
<td><input type="text" id="exclude_files" value="#{exclude_files}"/> <a href="http://www.urbackup.org/FAQ.php#exclude_files" target="_blank">?</a></td>
</tr>
<tr>
<td>#{tIncluded files (with wildcards)}:</td>
<td><input type="text" id="include_files" value="#{include_files}"/> <a href="http://www.urbackup.org/FAQ.php#include_files" target="_blank">?</a></td>
</tr>
<tr>
<td>#{tDefault directories to backup}:</td>
<td><input type="text" id="default_dirs" value="#{default_dirs}"/> <a href="http://www.urbackup.org/FAQ.php#default_dirs" target="_blank">?</a></td>
</tr>
<tr>
</table>
</div>

<div class="tabbertab" title="#{tImage backups}">
<table cellspacing="0" cellpadding="0" border="0" class="formtable">
#{no_compname_start}
<tr>
<td>#{tDisable image backups}:</td>
<td><input type="checkbox" id="client_disable_image_backups" #{client_disable_image_backups}</td>
</tr>
#{no_compname_end}
<tr>
<td>#{tInterval for incremental image backups}:</td>
<td><input type="text" id="update_freq_image_incr" value="#{update_freq_image_incr}"/> #{tdays}</td>
</tr>
<tr>
<td>#{tInterval for full image backups}:</td>
<td><input type="text" id="update_freq_image_full" value="#{update_freq_image_full}"/> #{tdays}</td>
</tr>
<td>#{tMaximal number of incremental image backups}:</td>
<td><input type="text" id="max_image_incr" value="#{max_image_incr}"/></td>
</tr>
<tr>
<td>#{tMinimal number of incremental image backups}:</td>
<td><input type="text" id="min_image_incr" value="#{min_image_incr}"/></td>
</tr>
<td>#{tMaximal number of full image backups}:</td>
<td><input type="text" id="max_image_full" value="#{max_image_full}"/></td>
</tr>
<tr>
<td>#{tMinimal number of full image backups}:</td>
<td><input type="text" id="min_image_full" value="#{min_image_full}"/></td>
</tr>
<tr>
<td>#{tVolumes to backup}:</td>
<td><input type="text" id="image_letters" value="#{image_letters}"/> <a href="http://www.urbackup.org/FAQ.php#image_letters" target="_blank">?</a></td>
</tr>
</table>
</div>

<div class="tabbertab" title="#{tPermissions}">
<table cellspacing="0" cellpadding="0" border="0" class="formtable">
<tr>
<td>#{tAllow client-side changing of the directories to backup}:</td>
<td><input type="checkbox" id="allow_config_paths" #{allow_config_paths}/></td>
</tr>
<tr>
<td>#{tAllow client-side starting of file backups}:</td>
<td><input type="checkbox" id="allow_starting_file_backups" #{allow_starting_file_backups}/></td>
</tr>
<tr>
<td>#{tAllow client-side starting of image backups}:</td>
<td><input type="checkbox" id="allow_starting_image_backups" #{allow_starting_image_backups}/></td>
</tr>
<tr>
<td>#{tAllow client-side viewing of backup logs}:</td>
<td><input type="checkbox" id="allow_log_view" #{allow_log_view}/></td>
</tr>
<tr>
<td>#{tAllow client-side pausing of backups}:</td>
<td><input type="checkbox" id="allow_pause" #{allow_pause}/></td>
</tr>
<tr>
<td>#{tAllow client-side changing of settings}:</td>
<td><input type="checkbox" id="allow_overwrite" #{allow_overwrite}/></td>
</tr>
</table>
</div>

<div class="tabbertab" title="#{tClient}">
<table cellspacing="0" cellpadding="0" border="0" class="formtable">
<tr>
<td>#{tDelay after system startup}:</td>
<td><input type="text" id="startup_backup_delay" value="#{startup_backup_delay}"/> #{tmin}</td>
</tr>
<tr>
<td>#{tBackup window}</td>
<td><input type="text" id="backup_window" value="#{backup_window}"/> <a href="http://www.urbackup.org/FAQ.php#backup_window" target="_blank">?</a></td>
</tr>
#{no_compname_start}
<tr>
<td>#{tComputer name}</td>
<td><input type="text" id="computername" value="#{computername}"/></td>
</tr>
#{no_compname_end}
<tr>
<td>#{tMax backup speed for local network}:</td>
<td><input type="text" id="local_speed" value="#{local_speed}"/> MBit/s</td>
</tr>
<tr>
<td>#{tPerform autoupdates silently}:</td>
<td><input type="checkbox" id="silent_update" #{silent_update}/></td>
</tr>
<tr>
<td>#{tSoft client quota}:</td>
<td><input type="text" id="client_quota" value="#{client_quota}"/></td>
</tr>
</table>
</div>

<div class="tabbertab" title="#{tArchival}">
<table cellspacing="0" cellpadding="0" id="archive_table">
<tr>
	<th style="width: 200px" class="tabHeader">#{tArchive every}</th>
	<th style="width: 200px" class="tabHeader">#{tArchive for}</th>
	<th style="width: 80px" class="tabHeader">#{tArchive window}<a href="http://www.urbackup.org/FAQ.php#archive_window" target="_blank" title="h;dom;mon;dow">?</a></th>
	<th style="width: 150px" class="tabHeader">#{tBackup type}</th>
	#{no_compname_start}
	<th style="width: 100px" class="tabHeader">#{tNext archival}</th>
	#{no_compname_end}
	<th style="width: 100px" class="tabHeaderRight">&nbsp;</th>
</tr>
<tr>
	#{global_settings_start}
	<td class="tabFRight" colspan="5" style="height:1px"></td>
	#{global_settings_end}
	#{no_compname_start}
	<td class="tabFRight" colspan="6" style="height:1px"></td>
	#{no_compname_end}
</tr>
<tr>
	<td class="tabFLeft"><input type="text" style="width: 50px" id="archive_every"> <select size="1" style="width: 80px;" id="archive_every_unit"><option value="h">#{thours}</option><option value="d" selected="selected">#{tdays}</option><option value="w">#{tweeks}</option><option value="m">#{tmonth}</option><option value="y">#{tyears}</option></select></td>
	<td class="tabFLeft"><input type="text" style="width: 50px" id="archive_for"> <select size="1" style="width: 80px;" onchange="changeArchiveForUnit()" id="archive_for_unit"><option value="h">#{thours}</option><option value="d" selected="selected">#{tdays}</option><option value="w">#{tweeks}</option><option value="m">#{tmonth}</option><option value="y">#{tyears}</option><option value="i">#{tforever}</option></select></td>
	<td class="tabFLeft"><input type="text" style="width:70px" id="archive_window" value="*;*;*;*"></td>
	<td class="tabFLeft"><select size="1" style="width: 150px;" id="archive_backup_type"><option value="file">#{tFile backup}</option><option value="incr_file">#{tIncremental file backup}</option><option value="full_file">#{tFull file backup}</option></select></td>
	#{no_compname_start}
	<td class="tabFLeft">&nbsp;</td>
	#{no_compname_end}
	<td class="tabFRight">
		#{global_settings_start}
		<input type="button" value="#{tAdd}" id="archive_add" onclick="addArchiveItem(true)" />
		#{global_settings_end}
		#{no_compname_start}
		<input type="button" value="#{tAdd}" id="archive_add" onclick="addArchiveItem(false)" />
		#{no_compname_end}		
	</td>
</tr>
</table>
</div>

#{internet_settings_start}
<div class="tabbertab" title="#{tInternet}">
<table cellspacing="0" cellpadding="0" border="0" class="formtable">
#{global_settings_start_inet}
<tr>
<td>#{tEnable internet mode (requires server restart)}:</td>
<td><input type="checkbox" id="internet_mode_enabled" value="false" #{internet_mode_enabled}/></td>
</tr>
<tr>
<td>#{tInternet server name/IP}:</td>
<td><input type="text" size="40" id="internet_server" value="#{internet_server}"/> </td>
</tr>
<tr>
<td>#{tInternet server port}:</td>
<td><input type="text" size="40" id="internet_server_port" value="#{internet_server_port}"/> </td>
</tr>
#{global_settings_end_inet}
#{no_compname_start_inet}
<tr>
<td>#{tEnable internet mode}:</td>
<td><input type="checkbox" id="internet_mode_enabled" value="false" #{internet_mode_enabled}/></td>
</tr>
<tr>
<td>#{tInternet auth key}</td>
<td><input type="text" id="internet_authkey" value="#{internet_authkey}"/></td>
</tr>
#{no_compname_end_inet}
<tr>
<td>#{tDo image backups over internet}:</td>
<td><input type="checkbox" id="internet_image_backups" value="false" #{internet_image_backups}/></td>
</tr>
<tr>
<td>#{tDo full file backups over internet}:</td>
<td><input type="checkbox" id="internet_full_file_backups" value="false" #{internet_full_file_backups}/></td>
</tr>
<tr>
<td>#{tMax backup speed for internet connection}:</td>
<td><input type="text" id="internet_speed" value="#{internet_speed}"/> KBit/s</td>
</tr>
#{global_settings_start_inet}
<tr>
<td>#{tTotal max backup speed for internet connection}:</td>
<td><input type="text" id="global_internet_speed" value="#{global_internet_speed}"/> KBit/s</td>
</tr>
#{global_settings_end_inet}
<tr>
<td>#{tEncrypted transfer}:</td>
<td><input type="checkbox" id="internet_encrypt" value="false" #{internet_encrypt}/></td>
</tr>
<tr>
<td>#{tCompressed transfer}:</td>
<td><input type="checkbox" id="internet_compress" value="false" #{internet_compress}/></td>
</tr>
<tr>
<td>#{tCalculate file-hashes on the client}:</td>
<td><input type="checkbox" id="internet_calculate_filehashes_on_client" value="false" #{internet_calculate_filehashes_on_client}/></td>
</tr>
</table>
</div>
#{internet_settings_end}
<div class="tabbertab" title="#{tAdvanced}">
<table cellspacing="0" cellpadding="0" border="0" class="formtable">
#{global_settings_start}
<tr>
<td>#{tTemporary files as file backup buffer}:</td>
<td><input type="checkbox" id="use_tmpfiles" value="false" #{use_tmpfiles}/></td>
</tr>
<tr>
<td>#{tTemporary files as image backup buffer}:</td>
<td><input type="checkbox" id="use_tmpfiles_images" value="false" #{use_tmpfiles_images}/></td>
</tr>
#{global_settings_end}
<tr>
<td>#{tLocal full file backup transfer mode}:</td>
<td><select size="1" style="width: 150px;" id="local_full_file_transfer_mode"><option value="raw" #{local_full_file_transfer_mode_0}>#{tRaw}</option><option value="hashed" #{local_full_file_transfer_mode_1}>#{tHashed}</option></select></td>
</tr>
<tr>
<td>#{tInternet full file backup transfer mode}:</td>
<td><select size="1" style="width: 150px;" id="internet_full_file_transfer_mode"><option value="raw" #{internet_full_file_transfer_mode_0}>#{tRaw}</option><option value="hashed" #{internet_full_file_transfer_mode_1}>#{tHashed}</option></select></td>
</tr>
<tr>
<td>#{tLocal incremental file backup transfer mode}:</td>
<td><select size="1" style="width: 150px;" id="local_incr_file_transfer_mode"><option value="raw" #{local_incr_file_transfer_mode_0}>#{tRaw}</option><option value="hashed" #{local_incr_file_transfer_mode_1}>#{tHashed}</option><option value="blockhash" #{local_incr_file_transfer_mode_2}>#{tBlock differences - hashed}</option></select></td>
</tr>
<tr>
<td>#{tInternet incremental file backup transfer mode}:</td>
<td><select size="1" style="width: 150px;" id="internet_incr_file_transfer_mode"><option value="raw" #{internet_incr_file_transfer_mode_0}>#{tRaw}</option><option value="hashed" #{internet_incr_file_transfer_mode_1}>#{tHashed}</option><option value="blockhash" #{internet_incr_file_transfer_mode_2}>#{tBlock differences - hashed}</option></select></td>
</tr>
<tr>
<td>#{tLocal image backup transfer mode}:</td>
<td><select size="1" style="width: 150px;" id="local_image_transfer_mode"><option value="raw" #{local_image_transfer_mode_0}>#{tRaw}</option><option value="hashed" #{local_image_transfer_mode_1}>#{tHashed}</option></select></td>
</tr>
<tr>
<td>#{tInternet image backup transfer mode}:</td>
<td><select size="1" style="width: 150px;" id="internet_image_transfer_mode"><option value="raw" #{internet_image_transfer_mode_0}>#{tRaw}</option><option value="hashed" #{internet_image_transfer_mode_1}>#{tHashed}</option></select></td>
</tr>
<tr>
<td>#{tFile hash collection amount}:</td>
<td><input type="text" size="10" id="file_hash_collect_amount" value="#{file_hash_collect_amount}"/> </td>
</tr>
<tr>
<td>#{tFile hash collection timeout}:</td>
<td><input type="text" size="10" id="file_hash_collect_timeout" value="#{file_hash_collect_timeout}"/> </td>
</tr>
<tr>
<td>#{tFile hash collection database cachesize}:</td>
<td><input type="text" size="10" id="file_hash_collect_cachesize" value="#{file_hash_collect_cachesize}"/> #{tMB}</td>
</tr>
#{global_settings_start}
<tr>
<td>#{tUpdate stats database cachesize}:</td>
<td><input type="text" size="10" id="update_stats_cachesize" value="#{update_stats_cachesize}"/> #{tMB}</td>
</tr>
<tr>
<td>#{tCache database type for file entries}:</td>
<td><select size="1" style="width: 150px;" id="filescache_type"><option value="none" #{filescache_type_0}>#{tNone}</option><option value="lmdb" #{filescache_type_1}>LMDB</option><option value="sqlite" #{filescache_type_2}>SQLite</option></select></td>
</tr>
<tr>
<td>#{tCache database size for file entries}:</td>
<td><input type="text" size="10" id="filescache_size" value="#{filescache_size}"/> #{tMB}</td>
</tr>
<tr>
<td>#{tSuspend index limit}:</td>
<td><input type="text" size="10" id="suspend_index_limit" value="#{suspend_index_limit}"/></td>
</tr>
#{global_settings_end}
<tr>
<td>#{tEnd-to-end verification of all file backups}:</td>
<td><input type="checkbox" id="end_to_end_file_backup_verification" value="false" #{end_to_end_file_backup_verification}/></td>
</tr>
</table>
</div>