<br />
<div class="tabber" id="settings_tabber">
<div class="tabbertab" title="#{tServer}">
<table cellspacing="0" cellpadding="0" border="0" class="formtable">
<tr>
<td>#{tBackup storage path}:</td>
<td><input type="text" size="40" id="backupfolder" value="#{backupfolder}"/> </td>
</tr>
<tr>
<td>#{tDo not do image backups}:</td>
<td><input type="checkbox" id="no_images" value="true" #{no_images}/></td>
</tr>
<tr>
<td>#{tDo not do file backups}:</td>
<td><input type="checkbox" id="no_file_backups" value="true" #{no_file_backups}/></td>
</tr>
<tr>
<td>#{tAutomatically shut down server}:</td>
<td><input type="checkbox" id="autoshutdown" value="true" #{autoshutdown}/></td>
</tr>
<tr>
<td>#{tAutoupdate clients}:</td>
<td><input type="checkbox" id="autoupdate_clients" value="true" #{autoupdate_clients}/></td>
</tr>
<tr>
<td>#{tMax number of simultaneous backups}:</td>
<td><input type="text" id="max_sim_backups" value="#{max_sim_backups}" /></td>
</tr>
<tr>
<td>#{tMax number of recently active clients}:</td>
<td><input type="text" id="max_active_clients" value="#{max_active_clients}" /></td>
</tr>
#{ONLY_WIN32_BEGIN}
<tr>
<td>#{tNondefault temporary file directory}:</td>
<td><input type="text" id="tmpdir" value="#{tmpdir}" /></td>
</tr>
#{ONLY_WIN32_END}
<tr>
<td>#{tCleanup time window}:</td>
<td><input type="text" id="cleanup_window" value="#{cleanup_window}" /><a href="http://www.urbackup.org/FAQ.php#cleanup_window" target="_blank">?</a></td></td>
</tr>
<tr>
<td>#{tAutomatically backup UrBackup database}:</td>
<td><input type="checkbox" size="40" id="backup_database" #{backup_database}/> </td>
</tr>
<tr>
<td>#{tTotal max backup speed for local network}:</td>
<td><input type="text" id="global_local_speed" value="#{global_local_speed}"/> MBit/s</td>
</tr>
</table>
</div>#{settings_inv}
<div class="tabbertab" title="#{tAdvanced}">
<table cellspacing="0" cellpadding="0" border="0" class="formtable">
<tr>
<td>#{tTemporary files as file backup buffer}:</td>
<td><input type="checkbox" id="use_tmpfiles" value="false" #{use_tmpfiles}/></td>
</tr>
<tr>
<td>#{tTemporary files as image backup buffer}:</td>
<td><input type="checkbox" id="use_tmpfiles_images" value="false" #{use_tmpfiles_images}/></td>
</tr>
<tr>
<td>#{tLocal full file backup transfer mode}:</td>
<td><select size="1" style="width: 150px;" id="local_full_file_transfer_mode"><option value="raw" #{local_full_file_transfer_mode_0}>#{tRaw}</option><option value="hashed" #{local_full_file_transfer_mode_1}>#{tHashed}</option></select></td>
</tr>
<tr>
<td>#{tInternet full file backup transfer mode}:</td>
<td><select size="1" style="width: 150px;" id="internet_full_file_transfer_mode"><option value="raw" #{internet_full_file_transfer_mode_0}>#{tRaw}</option><option value="hashed" #{internet_full_file_transfer_mode_1}>#{tHashed}</option></select></td>
</tr>
<tr>
<td>#{tLocal incremental file backup transfer mode}:</td>
<td><select size="1" style="width: 150px;" id="local_incr_file_transfer_mode"><option value="raw" #{local_incr_file_transfer_mode_0}>#{tRaw}</option><option value="hashed" #{local_incr_file_transfer_mode_1}>#{tHashed}</option><option value="blockhash" #{local_incr_file_transfer_mode_2}>#{tBlock differences - hashed}</option></select></td>
</tr>
<tr>
<td>#{tInternet incremental file backup transfer mode}:</td>
<td><select size="1" style="width: 150px;" id="internet_incr_file_transfer_mode"><option value="raw" #{internet_incr_file_transfer_mode_0}>#{tRaw}</option><option value="hashed" #{internet_incr_file_transfer_mode_1}>#{tHashed}</option><option value="blockhash" #{internet_incr_file_transfer_mode_2}>#{tBlock differences - hashed}</option></select></td>
</tr>
<tr>
<td>#{tLocal image backup transfer mode}:</td>
<td><select size="1" style="width: 150px;" id="local_image_transfer_mode"><option value="raw" #{local_image_transfer_mode_0}>#{tRaw}</option><option value="hashed" #{local_image_transfer_mode_1}>#{tHashed}</option></select></td>
</tr>
<tr>
<td>#{tInternet image backup transfer mode}:</td>
<td><select size="1" style="width: 150px;" id="internet_image_transfer_mode"><option value="raw" #{internet_image_transfer_mode_0}>#{tRaw}</option><option value="hashed" #{internet_image_transfer_mode_1}>#{tHashed}</option></select></td>
</tr>
<tr>
<td>#{tFile hash collection amount}:</td>
<td><input type="text" size="10" id="file_hash_collect_amount" value="#{file_hash_collect_amount}"/> </td>
</tr>
<tr>
<td>#{tFile hash collection timeout}:</td>
<td><input type="text" size="10" id="file_hash_collect_timeout" value="#{file_hash_collect_timeout}"/> </td>
</tr>
<tr>
<td>#{tFile hash collection database cachesize}:</td>
<td><input type="text" size="10" id="file_hash_collect_cachesize" value="#{file_hash_collect_cachesize}"/> #{tMB}</td>
</tr>
<tr>
<td>#{tUpdate stats database cachesize}:</td>
<td><input type="text" size="10" id="update_stats_cachesize" value="#{update_stats_cachesize}"/> #{tMB}</td>
</tr>
</table>
</div>
</div>
<br />
<br />
<input type="button" value="#{tSave}" onClick="saveGeneralSettings()" />