<td>
	<input type="hidden" id="archive_next_{id}" value="{archive_next}" />
	<input type="hidden" id="archive_every_{id}" value="{archive_every_i}" />
	<input type="hidden" id="archive_every_unit_{id}" value="{archive_every_unit}" />
	<span id="archive_every_str_{id}">{archive_every}</span>
</td>
<td>
	<input type="hidden" id="archive_for_unit_{id}" value="{archive_for_unit}" />
	<input type="hidden" id="archive_for_{id}" value="{archive_for_i}" />
	<span id="archive_for_str_{id}">{archive_for}</span>
</td>
<td>
	<input type="hidden" id="archive_window_{id}" value="{archive_window}" />
	<span id="archive_window_str_{id}">{archive_window}</span>
<td>
	<input type="hidden" id="archive_backup_type_{id}" value="{archive_backup_type}" />
	<span id="archive_backup_type_str_{id}">{archive_backup_type_str}</span>
</td>
<td>
	<input type="hidden" id="archive_letters_{id}" value="{archive_letters}" />
	<span id="archive_letters_str_{id}">{archive_letters_str}</span>
</td>
{?show_archive_timeleft}
<td>
	<input type="hidden" id="archive_timeleft_{id}" value="{archive_timeleft}" />
	{archive_timeleft}
</td>
{/show_archive_timeleft}
<td>
	<input class="btn btn-sm btn-default" type="button" value="{tDelete}" onclick="deleteArchiveItem({id})"/>
</td>
