<br />
<div class="panel panel-default">
	<div class="panel-body">
		<form class="form form-horizontal" role="form">
			<h1>{tClient} {clientname}</h1>
			<div>
				<div class="form-group" style="margin-left: 10pt">
					<label><input type="checkbox" onclick="updateUserOverwrite({clientid})" id="overwrite" {overwrite} /></label>
					<label class="control-label" style="margin-left: 10px" for="overwrite">{tSeparate settings for this client}</label>
				</div>
			</div>
			<ul class="nav nav-pills" id="settings_tabber" data-tabs="tabs">
				<li class="active"><a href="#file_backups" data-toggle="tab">{tFile Backups}</a></li>
				<li><a href="#image_backups" data-toggle="tab">{tImage Backups}</a></li>
				{?main_client}
				<li><a href="#permissions" data-toggle="tab">{tPermissions}</a></li>
				{/main_client}
				<li><a href="#client" data-toggle="tab">{tClient}</a></li>
				<li><a href="#archive" data-toggle="tab">{tArchive}</a></li>
				{internet_settings_start|s}
				<li><a href="#internet" data-toggle="tab">{tInternet}</a></li>
				{internet_settings_end|s}
				<li><a href="#advanced" data-toggle="tab">{tAdvanced}</a></li>
			</ul>
			<div class="tab-content">
				{settings_inv|s}
			</div>
			{overwrite_warning_start|s}
			<div class="alert alert-warning">{tWarning: The settings configured on the client will overwrite the settings configured here. If you want to change this behaviour do not allow the client to change settings.}</div>
			{overwrite_warning_end|s}
			<div style="text-align: right">
				<input type="button" class="btn btn-primary pull-right clearfix" value="{tSave}" onClick="saveClientSettings({clientid})" id="user_submit"/>
				<br />
				&nbsp;
			</div>
		</form>
	</div>
</div>