<br />
<div class="panel panel-default">
	<div class="panel-body">
		<form class="form form-horizontal" role="form">
			<div class="form-group">
				<label class="col-sm-3 control-label" for="overwrite">{tSeparate settings for this client}</label>
				<div class="col-sm-6">
					<label><input type="checkbox" onclick="updateUserOverwrite({clientid})" id="overwrite" {overwrite} />
				</div>
			</div>
			{settings_inv|s}
			{overwrite_warning_start|s}
			<div class="alert alert-warning">{tWarning: The settings configured on the client will overwrite the settings configured here. If you want to change this behaviour do not allow the client to change settings.}</div>
			{overwrite_warning_end|s}
			<input type="button" class="btn btn-primary" value="{tSave}" onClick="saveClientSettings({clientid})" id="user_submit"/>
		</form>
	</div>
</div>