<ul class="nav nav-pills" id="settings_tabber">
	<li class="active"><a href="#server_settings" data-toggle="pill">{tServer}</a></li>
	<li><a href="#file_backups" data-toggle="pill">{tFile Backups}</a></li>
	<li><a href="#image_backups" data-toggle="pill">{tImage Backups}</a></li>
	<li><a href="#permissions" data-toggle="pill">{tPermissions}</a></li>
	<li><a href="#client" data-toggle="pill">{tClient}</a></li>
	<li><a href="#archive" data-toggle="pill">{tArchive}</a></li>
	<li><a href="#alerts" data-toggle="pill">{tAlerts}</a></li>
	{internet_settings_start|s}
	<li><a href="#internet" data-toggle="pill">{tInternet}</a></li>
	{internet_settings_end|s}
	<li><a href="#advanced" data-toggle="pill">{tAdvanced}</a></li>
</ul>

<div class="tab-content">
	<div class="tab-pane active" id="server_settings">
	<div class="panel panel-default">
	<div class="panel-body">
		<form class="form-horizontal" role="form">
			<div class="form-group">
				<label class="col-sm-4 control-label" for="backupfolder">{tBackup storage path}:</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" id="backupfolder" value="{backupfolder|s}"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label" for="backupfolder">{tServer URL}:</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" id="server_url" value="{server_url|s}"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label" for="no_images">{tDo not do image backups}:</label>
				<div class="col-sm-6">
					<input type="checkbox" id="no_images" value="true" {no_images}/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label" for="no_file_backups">{tDo not do file backups}:</label>
				<div class="col-sm-6">
					<input type="checkbox" id="no_file_backups" value="true" {no_file_backups}/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label" for="autoshutdown">{tAutomatically shut down server}:</label>
				<div class="col-sm-6">
					<input type="checkbox" id="autoshutdown" value="true" {autoshutdown}/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label" for="download_client">{tDownload client from update server}:</label>
				<div class="col-sm-6">
					<input type="checkbox" id="download_client" value="true" {download_client}/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label" for="show_server_updates">{tShow when a new server version is available}:</label>
				<div class="col-sm-6">
					<input type="checkbox" id="show_server_updates" value="true" {show_server_updates}/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label">{tAutoupdate clients}:</label>
				<div class="col-sm-6">
					<input type="checkbox" id="autoupdate_clients" value="true" {autoupdate_clients}/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label" for="max_sim_backups">{tMax simultaneous backups}:</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" id="max_sim_backups" value="{max_sim_backups}" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label" for="max_active_clients">{tMax recently active clients}:</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" id="max_active_clients" value="{max_active_clients}" />
				</div>
			</div>
			{ONLY_WIN32_BEGIN|s}
			<div class="form-group">
				<label class="col-sm-4 control-label" for="tmpdir">{tNondefault temporary file directory}:</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" id="tmpdir" value="{tmpdir|s}" />
				</div>
			</div>
			{ONLY_WIN32_END|s}
			<div class="form-group">
				<label class="col-sm-4 control-label" for="cleanup_window">{tCleanup time window}:</label>
				<div class="col-sm-6">
					<div class="input-group">
						<input type="text" class="form-control" id="cleanup_window" value="{cleanup_window|s}" />
						<div class="input-group-addon"><a href="help.htm#cleanup_window" target="_blank">?</a></div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label" for="backup_database">{tAutomatically backup UrBackup database}:</label>
				<div class="col-sm-6">
					<input type="checkbox" id="backup_database" {backup_database}/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label" for="global_local_speed">{tTotal max backup speed for local network}:</label>
				<div class="col-sm-6">
					<div class="input-group">
						<input type="text" class="form-control" id="global_local_speed" value="{global_local_speed}"/>
						<div class="input-group-addon">MBit/s</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label" for="global_soft_fs_quota">{tGlobal soft filesystem quota}:</label>
				<div class="col-sm-6">
					<div class="input-group">
						<input type="text" class="form-control" id="global_soft_fs_quota" value="{global_soft_fs_quota}"/>
						<div class="input-group-addon"><a href="help.htm#global_soft_fs_quota" target="_blank">?</a></div>
					</div>
				</div>
			</div>
		</form>
	&nbsp;
	</div>
	</div>
	</div>

	{settings_inv|s}
</div>
<div style="text-align: right">
	<input type="button" class="btn btn-primary" value="{tSave}" onClick="saveGeneralSettings()" />
	<br />
	&nbsp;
</div>
