<br />
<div class="panel panel-default">
	<div class="panel-heading"><strong>{tChange rights for user}:</strong> {username}</div>
	<div class="panel-body">
		<form class="form-horizontal" role="form" action="#" onsubmit="submitChangeUserRights({userid}); return false;">
			<table class="table-striped" id="rightstable">
				<thead>
					<tr>
						<th>{tDomain}</td>
						<th>{tRights}</td>
						<th>{tTranslation}</td>
						<th>{tActions}</td>
					</tr>
				</thead>
				<tbody>
					{rows|s}
				</tbody>
			</table>
			<br />
			<a class="btn btn-default" href="javascript: addNewDomain({userid}, '{username}')">{tNew domain}</a>
			<br />
			<input type="button" class="btn btn-default" value="{tAbort}" onclick="userSettings()"> <input type="submit" class="btn btn-default" value="{tChange}" />
		</form>
	</div>
</div>