<span id="new_version_available"></span>
<h1>{tBackup status}</h1>

{nospc_fatal|s}
{nospc_stalled|s}
{dir_error|s}
{tmpdir_error|s}
{database_error|s}
{endian_info|s}

<br /><br />
<table cellspacing="0" cellpadding="0" id="status_table" class="dataTableTab">
<thead>
<tr>			
	<th style="width: 150px" class="tabHeader2">{tComputer name}</th>
	<th style="width: 50px" class="tabHeader2">{tOnline}</th>
	<th style="width: 100px" class="tabHeader2">{tStatus}</th>
	<th style="width: 150px" class="tabHeader2">{tLast seen}</th>
	<th style="width: 150px" class="tabHeader2">{tLast file backup}</th>
	<th style="width: 150px" class="tabHeader2">{tLast image backup}</th>
	<th style="width: 130px" class="tabHeader2">{tFile backup status}</th>
	<th style="width: 130px" class="tabHeader2">{tImage backup status}</th>
	<th style="width: 50px" class="tabHeader2">{tIP}</th>
	<th style="width: auto" class="tabHeader2">{tClient version}</th>
	<th style="width: auto" class="tabHeader2">{tOperating System}</th>
	{?show_select_box}
	<th style="width: 50px" class="tabHeader2">&nbsp;</td>
	{/show_select_box}
</tr>
</thead>
<tbody>
{rows|s}
</tbody>
</table>
<br /><br />
{modify_clients|s}
{?status_can_show_all}
&#32;| <a href="javascript: g.status_show_all=true; show_status1();">{tShow all clients}</a><br /><br />
{/status_can_show_all}
{?removed_clients_table}
<br /><br />
<table cellspacing="0" cellpadding="0" id="status_table">
<thead>
	<th style="width: 150px" class="tabHeader">{tComputer name}</th>
	<th style="width: 400px"  class="tabHeaderRight">&nbsp;</th>
</thead>
<tbody>
	{#removed_clients}
		<td class="tabFLeft">{name}</td>
		<td class="tabFRight">{tThis client is going to be removed. }&#32;{?remove_client}<a href="javascript: stopRemove({id})">{tStop removing client}</a>.&#32;{/remove_client}{tClients are removed during the cleanup in the cleanup time window. }</td>
	{/removed_clients}
</tbody>
</table>
{/removed_clients_table}
<br />
{status_client_download|s}

{?status_extra_clients}
<br />
<br />
<hr style="width: 1070px;" align="left"/>
<h3>{tInternet clients}</h3>
<br />
{internet_client_added|s}
{tAdd additional internet clients}:
<form action="#" onsubmit="addInternetClient(); return false;">
<table cellspacing="0" cellpadding="0" border="0" class="formtable">
<tr>
<td>{tClient name}:</td>
<td><input type="text" size="40" id="clientname" value=""/> </td>
<td><input type="submit" value="{tAdd}"/></td>
</tr>
</table>
</form>
<br />

<h3>{tExtra clients}</h3>

<table cellspacing="0" cellpadding="0">
<tr>			
	<th style="width: 150px" class="tabHeader">{tHostname/IP}</th>
	<th style="width: 200px" class="tabHeader">{tOnline}</th>
	<th style="width: 200px" class="tabHeaderRight">{tActions}</th>
</tr>
{extra_clients_rows|s}
</table>

<form action="#" onsubmit="addExtraClient(); return false;">
<table cellspacing="0" cellpadding="0" border="0" class="formtable">
<tr>
<td>{tHostname/IP}:</td>
<td><input type="text" size="40" id="hostname" value=""/> </td>
<td><input type="submit" value="{tAdd}"/></td>
</tr>
</table>
</form>


<h3>{tServer identity}</h3>
{server_identity}
<br>
{/status_extra_clients}