<div class="btn-group">
	<a class="btn btn-sm btn-default" href="javascript: selectAllClients()">{tSelect all}</a>
	<a class="btn btn-sm btn-default" href="javascript: selectNoClients()">{tSelect none}</a>
	{rem_start|s}
	<a class="btn btn-sm btn-default" href="javascript: removeClients()">{tRemove selected}</a>
	{rem_stop|s}
	<div class="btn-group">
		<button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
			With Selected <span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu">
			{no_file_backups_start|s}
			<li><a href="javascript: startBackups('incr_file')">{tIncremental file backup}</a></li>
			<li><a href="javascript: startBackups('full_file')">{tFull file backup}</a></li>
			{no_file_backups_stop|s}
			{no_images_start|s}
			<li><a href="javascript: startBackups('incr_image')">{tIncremental image backup}</a></li>
			<li><a href="javascript: startBackups('full_image')">{tFull image backup}</a></li>
			{no_images_stop|s}
		</ul>
	</div>
</div>