<div class="alert alert-info" id="new_version_available" style="visibility: hidden;"></div>

<div class="panel panel-default">
	<div class="panel-heading">{tBackup status}</div>
	<div class="panel-body">
	{nospc_fatal|s}
	{nospc_stalled|s}
	{dir_error|s}
	{tmpdir_error|s}
	{database_error|s}
	{endian_info|s}
	</div>

	<table cellspacing="0" cellpadding="0" id="status_table" class="table table-striped">
		<thead>
			<tr>			
				<th>{tComputer name}</th>
				<th>{tOnline}</th>
				<th>{tStatus}</th>
				<th>{tLast seen}</th>
				<th>{tLast file backup}</th>
				<th>{tLast image backup}</th>
				<th>{tFile backup status}</th>
				<th>{tImage backup status}</th>
				<th>{tIP}</th>
				<th>{tClient version}</th>
				<th>{tOperating System}</th>
				{?show_select_box}
				<th>&nbsp;</td>
				{/show_select_box}
			</tr>
		</thead>
		<tbody>
			{rows|s}
		</tbody>
	</table>

	{modify_clients|s}
	{?status_can_show_all}
	&#32;| <a href="javascript: g.status_show_all=true; show_status1();">{tShow all clients}</a><br /><br />
	{/status_can_show_all}
	{?removed_clients_table}
	<table cellspacing="0" cellpadding="0" id="status_table">
		<thead>
			<th style="width: 150px" class="tabHeader">{tComputer name}</th>
			<th style="width: 400px"  class="tabHeaderRight">&nbsp;</th>
		</thead>
		<tbody>
			{#removed_clients}
			<tr>
				<td class="tabFLeft">{name}</td>
				<td class="tabFRight">{tThis client is going to be removed. }&#32;{?remove_client}<a href="javascript: stopRemove({id})">{tStop removing client}</a>.&#32;{/remove_client}{tClients are removed during the cleanup in the cleanup time window. }</td>
			</tr>
			{/removed_clients}
		</tbody>
	</table>
	{/removed_clients_table}
</div>

<div class="panel panel-default">
	{status_client_download|s}
</div>

{?status_extra_clients}
<div class="panel panel-default">
	<div class="panel-heading">{tInternet clients}</div>
	<div class="panel-body">
		{internet_client_added|s}
		{tAdd additional internet clients}:
		<form action="#" onsubmit="addInternetClient(); return false;">
			<table cellspacing="0" cellpadding="0" border="0" class="formtable">
				<tr>
					<td>{tClient name}:</td>
					<td><input type="text" size="40" id="clientname" value=""/> </td>
					<td><input type="submit" value="{tAdd}"/></td>
				</tr>
			</table>
		</form>

		<p>{tExtra clients}</p>

		<table cellspacing="0" cellpadding="0">
			<tr>			
				<th style="width: 150px" class="tabHeader">{tHostname/IP}</th>
				<th style="width: 200px" class="tabHeader">{tOnline}</th>
				<th style="width: 200px" class="tabHeaderRight">{tActions}</th>
			</tr>
			{extra_clients_rows|s}
		</table>

		<form action="#" onsubmit="addExtraClient(); return false;">
			<table cellspacing="0" cellpadding="0" border="0" class="formtable">
				<tr>
					<td>{tHostname/IP}:</td>
					<td><input type="text" size="40" id="hostname" value=""/> </td>
					<td><input type="submit" value="{tAdd}"/></td>
				</tr>
			</table>
		</form>
	</div>
</div>
{/status_extra_clients}
	
<div class="panel panel-default">
	<div class="panel-heading">{tServer identity}</div>
	<div class="panel-body">{server_identity}</div>
</div>