<tr>
	{?show_select_box}
	<td>
		<input type="checkbox" name="status_selected" value="{id}" />
		<select onchange="startBackups(I('startbackup_{id}')[I('startbackup_{id}').selectedIndex].value, {id})" id="startbackup_{id}" style="margin-left:5px; display:none; line-height: 14px;" class="selectpicker" data-width="20px"  data-container="#data_f" data-style="btn btn-xs" title="">
			<option value="incr_file">{tIncremental file backup}</option>
			<option value="full_file">{tFull file backup}</option>
			<option value="incr_image">{tIncremental image backup}</option>
			<option value="full_image">{tFull image backup}</option>
			<option value="remove">{tRemove client}</option>
		</select>
	</td>
	{/show_select_box}
	<td>{name}</td>
	<td>{online}</td>
	<td>{status|s}</td>
	<td>{lastseen}</td>
	<td>{lastbackup}{start_file_backup|s}</td>
	<td>{lastbackup_image}{start_image_backup|s}</td>
	<td class="{file_style}">{file_ok_t}</td>
	<td class="{image_style}">{image_ok_t}</td>
	<td>{ip}</td>
	<td>{client_version_string}</td>
	<td>{os_version_string}</td>
</tr>