<a href="javascript: selectAllClients()">#{tSelect all}</a> | 
<a href="javascript: selectNoClients()">#{tSelect none}</a> | 
#{rem_start}
<a href="javascript: removeClients()">#{tRemove selected}</a> | 
#{rem_stop}
<select size="1" style="width: 150px;" id="backup_type">
	<option value="incr_file">#{tIncremental file backup}</option>
	<option value="full_file">#{tFull file backup}</option>
	<option value="incr_image">#{tIncremental image backup}</option>
	<option value="full_image">#{tFull image backup}</option>
</select>
	<a href="javascript: startBackups()">#{tStart for selected}</a>