<span id="new_version_available"></span>
<h1>{tBackup status}</h1>

{nospc_fatal}
{nospc_stalled}
{dir_error}
{tmpdir_error}
{database_error}

{modify_clients_top|s}
{dtl_c1_top|s}
&#32;| <a href="javascript: show_status1(true);">{tShow details}</a><br /><br />
{dtl_c2_top|s}
<table cellspacing="0" cellpadding="0" id="status_table">
<thead>
<tr>			
	<th style="width: 150px" class="tabHeader">{tComputer name}</th>
	<th style="width: 150px" class="tabHeader">{tLast seen}</th>
	<th style="width: 130px" class="tabHeader">{tLast file backup}</th>
	<th style="width: 130px" class="tabHeader">{tLast image backup}</th>
	<th style="width: 130px" class="tabHeader">{tFile backup status}</th>
	<th style="width: 130px" class="{class_prev}">{tImage backup status}</th>
	{dlt_mod_start|s}
	<th style="width: 50px"  class="tabHeaderRight">&nbsp;</th>
	{dlt_mod_end|s}
</tr>
</thead>
<tbody>
{rows|s}
</tbody>
</table>
<br /> <br />
{modify_clients|s}
{dtl_c1|s}
&#32;| <a href="javascript: show_status1(true);">{tShow details}</a>
{dtl_c2|s}

{?removed_clients_table}
<br /><br />
<table cellspacing="0" cellpadding="0" id="status_table">
<thead>
	<th style="width: 150px" class="tabHeader">{tComputer name}</th>
	<th style="width: 400px"  class="tabHeaderRight">&nbsp;</th>
</thead>
<tbody>
	{#removed_clients}
		<td class="tabFLeft">{name}</td>
		<td class="tabFRight">{tThis client is going to be removed. }&#32;{?remove_client}<a href="javascript: stopRemove({id})">{tStop removing client}</a>.&#32;{/remove_client}{tClients are removed during the cleanup time window, if they are offline. }</td>
	{/removed_clients}
</tbody>
</table>
{/removed_clients_table}

{status_client_download|s}