<h1>#{tBackup status}</h1>

#{nospc_fatal}
#{nospc_stalled}
#{dir_error}
#{tmpdir_error}

#{modify_clients_top}
#{dtl_c1_top}
| <a href="javascript: show_status1(true);">#{tShow details}</a><br /><br />
#{dtl_c2_top}
<table cellspacing="0" cellpadding="0" id="status_table">
<tr>			
	<th style="width: 150px" class="tabHeader">#{tComputer name}</th>
	<th style="width: 150px" class="tabHeader">#{tLast seen}</th>
	<th style="width: 130px" class="tabHeader">#{tLast file backup}</th>
	<th style="width: 130px" class="tabHeader">#{tLast image backup}</th>
	<th style="width: 130px" class="tabHeader">#{tFile backup status}</th>
	<th style="width: 130px" class="tabHeader">#{tImage backup status}</th>
	#{dlt_mod_start}
	<th style="width: 50px"  class="tabHeaderRight">&nbsp;</th>
	#{dlt_mod_end}
</tr>
#{rows}
</table>
<br />
#{modify_clients}
#{dtl_c1}
| <a href="javascript: show_status1(true);">#{tShow details}</a>
#{dtl_c2}
#{status_client_download}