<h1>{tStorage allocation}</h1>

<div id="piegraph"><img src="indicator.gif" />{tLoading}...<br /><br /></div>

<br />

<table cellspacing="0" cellpadding="0" id="statistics_table">
<thead>
<tr>			
	<th style="width: 150px" class="tabHeader">{tComputer name}</th>
	<th style="width: 150px" class="tabHeader">{tImages}</th>
	<th style="width: 150px" class="tabHeader">{tFiles}</th>
	<th style="width: 150px" class="tabHeaderRight">{tAll}</th>
</tr>
</thead>
<tbody>
{rows|s}
</tbody>
</table>

<h3>{tSum}</h3>
<table cellspacing="0" cellpadding="0">
<tr><td style="padding-right: 1em;font-weight:bold;">{tImages}</td><td>{images_total}</td></tr>
<tr><td style="padding-right: 1em;font-weight:bold;">{tFiles}</td><td>{files_total}</td></tr>
<tr><td style="padding-right: 1em;font-weight:bold;">{tAll}</td><td>{used_total}</td></tr>
</table>

<br />
<input value="{tRecalculate statistics}" onclick="recalculateStatistics()" type="button"></td>

<h1>{tStorage usage}</h1>

<div id="usagegraph"><img src="indicator.gif" />{tLoading}...</div>