<a href="javascript: selectAllClients()">#{tSelect all}</a> | 
<a href="javascript: selectNoClients()">#{tSelect none}</a> | 
#{rem_start}
<a href="javascript: removeClients()">#{tRemove selected}</a> | 
#{rem_stop}
<select size="1" style="width: 150px;" id="backup_type#{backup_type_num}">
#{no_file_backups_start}
	<option value="incr_file">#{tIncremental file backup}</option>
	<option value="full_file">#{tFull file backup}</option>
#{no_file_backups_stop}
#{no_images_start}
	<option value="incr_image">#{tIncremental image backup}</option>
	<option value="full_image">#{tFull image backup}</option>
#{no_images_stop}
</select>
	<a href="javascript: startBackups(#{backup_type_num})">#{tStart for selected}</a>