body
{
	font-family: arial, sans-serif;
	font-size: 15px;
	color: #1C1C1C;
	height: 100%;
	margin: 0px;
}
html
{
	height: 100%;
}
a
{
	text-decoration: none;
	color: #0000a7; 
}
a:hover
{
	text-decoration: underline;
	color: #0000a7;
}
.links1
{
	font-size: 20px;
	color: #0000a7;
}
.links1_active
{
	color: #7d9cff;
	float: right;
	padding-left:30px;
	text-decoration: none;
}
.links1_active:hover
{
	text-decoration: none;
	color: #7d9cff;
}
.links_item
{
	float: right;
	color: #0000a7;
	margin-left:30px;
	text-decoration: none;
}
.links_item:hover
{
	text-decoration: underline;
	color: #0000a7;
}
.pos_bar a
{
	text-decoration: none;
	color: #787878;
}
.pos_bar a:hover
{
	text-decoration: underline;
	color: #a5a5a5;
}
.pos_bar strong strong
{
	color: black;
}
h1
{
	color: black;
}
h2
{
	color: black;
}
h3
{
	color: black;
}
.tabHeader
{
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	text-align:left;
	padding: 3px;
}
.tabHeaderNB
{
	border: none;
	text-align:left;
	padding: 3px;
}
.tabHeaderRight
{
	border-top: 1px solid black;
	border-right: 1px solid black;
	border-left: 1px solid black;
	padding: 3px;
	text-align:left;
	border-bottom: 1px solid black;
}
.tabFLeft
{
	border: 1px solid black;
	padding: 3px;
	padding-right: 5px;
	border-right: none;
	border-top: none;
}
.tabFRight
{
	border: 1px solid black;
	border-top: none;
	padding: 3px;
}
.tabFNB
{
	padding: 3px;
	border: none;
}
.tabFLeftH
{
	border: 1px solid black;
	padding: 3px;
	padding-right: 5px;
	border-right: none;
	border-top: none;
}
.tabFRightH
{
	border: 1px solid black;
	border-top: none;
	padding: 3px;
}
.tabFLeftH:hover
{
	cursor: pointer;
}
.tabFRightH:hover
{
	cursor: pointer;
}
.formtable tr td
{
	padding:5px;
}
.languages
{
	font-size: 12px;
	color: #0000a7;
}
.languages a
{
	text-decoration: none;
}
.languages select
{
	width: 100px;
}
/* TABBER*/
.tabberlive .tabbertabhide {
 display:none;
}
.tabber {
}
.tabberlive {
 margin-top:1em;
 width: 850px;
}
ul.tabbernav
{
 margin:0;
 padding: 3px 0;
 border-bottom: 1px solid #778;
 font: bold 12px sans-serif;
}
ul.tabbernav li
{
 list-style: none;
 margin: 0;
 display: inline;
}
ul.tabbernav li a
{
 padding: 3px 0.5em;
 margin-left: 3px;
 border: 1px solid #778;
 border-bottom: none;
 background: white;
 text-decoration: none;
}
ul.tabbernav li a:link { color: #448; }
ul.tabbernav li a:visited { color: #667; }
ul.tabbernav li a:hover
{
 color: #000;
 background: #AAE;
 border-color: #227;
}
ul.tabbernav li.tabberactive a
{
 background-color: #fff;
 border-bottom: 1px solid #fff;
}
ul.tabbernav li.tabberactive a:hover
{
 color: #000;
 background: white;
 border-bottom: 1px solid white;
}
.tabberlive .tabbertab {
 padding:15px;
 border:1px solid #aaa;
 border-top:0;
}
.tabberlive .tabbertab h2 {
 display:none;
}
.tabberlive .tabbertab h3 {
 display:none;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -30px;
}
.footer, .push {
	height: 30px;
	z-index: 100;
}
